# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=ERN_Coin
Comment=ERN_Coin QT test network
GenericName=ERN_Coin Digital Currency QT client testnet network
Exec=earnscoin_coin-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/earnscoin_coin_testnet.png
MimeType=x-scheme-handler/earnscoin;
Categories=X-Office;X-Finance;
Keywords=internet;earnscoin_coin;zearnscoin;tearnscoin;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=earnscoin-qt_testnet.desktop
